*{
    margin:0;
    padding:0;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.container{
    background-color: hwb(0 71% 28%);
    width:500px;
    padding:30px 40px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px black;
    

}
h1{
    text-align: center;
    font-size: 35px;
}
.input-box{
    width: 100%;
    margin:30px 10px;
    
}
.input-box input{
  width:90%;
  padding:15px;
  border:none; 
  border-radius: 5px;
  box-shadow:2px 2px 2px black ;
  
  
}
.input-box i{
    position: absolute;
    right: 485px;
   padding-top: 10px;
   
    font-size: 25px;

}
.forget {
    margin-left:72%;
    font-size: 15px;
    font-weight: 600;

    
}
a:hover{
    text-decoration: underline;
    
}
a{
    text-decoration: none;
    }
.login{
    margin:10px;
}
button{
    width:100%;
    border-radius: 50px;
    border:none;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    background-color: rgb(59, 22, 107) ;
    color: white;

    
}
button:hover{
    background-color: rgb(41, 161, 41);
    box-shadow: 0px 0px 10px rgb(41, 161, 41);  
}

.singin{
    margin-left: 15px;
    font-weight:600;
}
